@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.Container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.center {
  text-align: center;
}
.Card {
  display: flex;
  justify-content: space-around;
  width: 50%;
  background-color: #fff;
  color: black;
  border-radius: 15px;
  padding: 30px 10px;
  margin: 5% 25%;
  border: 2px solid black;
}
.Template
{
  display:block;
  border: #333 1px solid;
  border-radius: 15px;
  padding: 30px 10px;
  margin: 5% 25%;

  
}
.Card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0 40px;
}

.rating li {
  position: relative;
  background: #f4f4f4;
  width: 40px;
  height: 40px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
  border: 1px #eee solid;
  transition: 1s;
}

.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rating li:hover {
  background: blue;
  color: #fff;
}
.rating input[type='radio'] {
  opacity: 0;
}

.rating input[type='radio']:checked ~ label {
  background: blue;
  color: #fff;
}
h3 {
  text-align: left;
}
.gender {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 0;
}
.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
}

input:focus {
  outline: none;
}
.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}

.btn-1 {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary-1 {
  background-color: #202142;
}

.btn-secondary-1 {
  background: #ff6a95;
}

.btn-1:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn-1:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn-1:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

.message {
  padding-top: 10px;
  text-align: center;
  color: rebeccapurple;
}
@media (max-width: 600px) {
  .rating li {
    margin: 10px 10px;
  }
  .card {
    margin: 10% 5%;
    width: 90%;
  }
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }

  .input-group input {
    width: 80%;
  }
}
