#root {
  background-color: rgb(232, 232, 247);
}
#myCard {
  margin-left: 0%;
  padding: 2%;
  border-radius: 30px;
}
#inMyCard {
  width: 90%;
  margin-left: 3%;
  border: none;
  background-color: rgba(113, 183, 240, 0.75);
  border-radius: 30px;
  box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.2),
    0 15px 15px 0 rgba(0, 0, 0, 0.19);
}
#my-form-buttom {
  width: 80%;
  border-radius: 20px;
  font-size: 15px;
  height: 50px;
  border: none;
  margin: 10px;
  background-color: rgb(3, 3, 110);
  box-shadow: 5px 10px 10px 0 rgba(10, 18, 124, 0.2),
    5px 15px 10px 0 rgba(10, 18, 124, 0.2);
}
#my-form-buttom:hover {
  background-color: rgb(4, 4, 196);
}
.navbar {
  margin-left: 25%;
  text-align: center;
}
.myNavbar {
  color: white;
  padding-top: 15px;
  background-color: rgb(7, 7, 136);
  height: 90px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2),
    0 15px 10px 0 rgba(0, 0, 0, 0.19);
}
#myTitle {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bolder;
}
#myStrong {
  color: green;
}

#ReviewCard{
   background-color: lightgreen;
   width: 75%;
   justify-content: center;
}

#Review{
  justify-content: center;
}



#ReviewCard h1{
  font-size: 15px;
}
#BestEmp{
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 5px;
}